@import url('https://fonts.googleapis.com/css?family=Poppins')
*
{
	outline: none !important;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Poppins',sans-serif;
		background-color: #000;
}
header
{
	position: relative;
	z-index: 1000000;
}
p
{
	font-size: 1.15rem;
}

p {
    margin-top: -20px;
    margin-bottom: 1rem;

    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 15px;
}
.navbar
{
	    background: transparent !important;
		transition: 0.5s;
}
.navbar.scrolled
{
	background: #000 !important;
	transition: 0.5s;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link 
{
    color: #000;
	background: #fff;
}
.navbar-light .navbar-nav .active>.nav-link:hover
{
	color: #000;
}
.navbar-light .navbar-nav .nav-link 
{
    color: rgba(255,255,255,.8);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
	 color: rgba(255,255,255,1);
}
.navbar-light .navbar-brand ,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited
{
    color: rgba(255,255,255,1);
	font-size: 2.5rem;
	font-weight: 600;
}

.img-fluid {
    max-width: 80%;
    padding-left: 42px;
    VERTICAL-ALIGN: middle;
}
}

.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(images/Nice-wallpaper-desktop-5.jpg);
    background-size: cover;
	background-position: center;
    margin-bottom: 0;
}
.banner:before,
.sec2:before,
.contact:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000,transparent);
	pointer-events: none;
}
.banner:after,
.sec2:after,
.contact:after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(360deg,#000,transparent);
	pointer-events: none;
}
.height100p
{
	height:100vh;
}
.h100
{
	height: 100%;
}
.contentBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.contentBox h1
{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 3rem;
}
.contentBox p
{
	color: #fff;
	font-size: 1.25rem;
}
.sec1
{
	padding: 100px 0;
	background: #000;
}
.headerText
{
	color: #fff;
}
.headerText h2

{
	font-size: 2.5rem;
	margin-bottom: 0px;
}




div.posts-container{

    display: -ms-flexbox;
  
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}






p.paragraph {

    color: #c1c1c1;
    margin-top: 0px;

    margin-bottom: 0px;

	}
.placeBox
{
	position: relative;
	max-width: 200px;
	height: 200px;
	margin: 0 auto;
	background: #000;
	margin-top: 50px;
	z-index: 0;
}
.placeBox .imgBx
{
	width: 100%;
}

.placeBox .imgBx img
{
	object-fit: contain;
	width: 160px;
	height: 160px;
}
.placeBox .content
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;
}
span#moreq.display{
	display: none;
}
.placeBox .content h3
{
	position: relative;
	margin: 0;
	padding: 10px;
	background: rgba(255, 255, 255,255);
	color: #000;
	font-size: 20px;
	font-weight: 450;
	width: 100%;
	text-align: center;


}
.placeBox .content h3 span
{
	font-size: 16px;
	font-weight: 500;
}






:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}


.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}



p.modal-h
{
	font-weight:600;
	padding-left: 0px;
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}
.h3, h3 {
    font-size: 1.5rem;
}
.h2, h2 {
    font-size: 1.5rem;
}
.modal-header {
  background: #28a745;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: #28a745;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.placeBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    background-color: currentColor;
    z-index: -1;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sec2
{
	position: relative;
	background: url(images/1_9wHrewC1Dyf2Au_qEqwWcg.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.sec2 h2
{
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5rem;
	
    margin-bottom: 11px;
    margin-top: 30px;

}

#more {display: none;}
.btnD1
{
	border: 2px solid #fff;
	color: #000;
	background: #fff;
	border-radius: 50px;
	padding: 15px 50px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}
.blog
{
	position: relative;
	padding: 80px 0;
	background: #000;
}
.blogpost
{
	position: relative;
	width: 100%;
	margin-top: 30px;
	background: #fff;
}
.blogpost .imgBx
{
	height: 400px;
	
}
.blogpost .imgBx img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blogpost .content
{
	padding: 15px;
}
.blogpost .content h1{
	margin: 0;
	padding: 0 0 10px;
	font-weight: 600;
	font-size: 1.5rem;
}
.btnD2,
.btnD2:hover
{
	background: #262626;
	color: #fff;
	border-radius: 30px;
	padding: 10px 20px;
	float: right;
}
.contact
{
	position: relative;
	padding: 100px 0;
	background: url(images/wallpapers-for-programmers_5499915.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}
.contact form
{
	position: relative;
	z-index: 1000;
}
.contact .form-control
{
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(255,255,255.2);
	height: 50px;
	border-radius: 0;
	background: rgba(0,0,0,.6);
	color: #fff;
	font-size: 1.25rem;
	
}
.contact .form-control:focus,
.contact .form-control:hover
{
	border: none;
	border-bottom: 2px solid rgba(255,255,255,1);
	box-shadow: none;
}
.contact .textarea
{
	min-height: 100px;
}
.contact  label
{
	color:#fff;
	font-size: 1.25rem;
}
footer
{
background: #000;
}
.sci
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li
{
	list-style: none;
	margin: 0 20px;
}
.sci li a
{
	color: #777;
	font-size: 2rem;
	transition:0.5s;
}
.sci li a:hover
{
	color: #fff;
}
.cpryt
{
	margin-top: 20px;
	text-align: center;
	color: #777;
	
}
.cpryt a,
.cpryt a:hover
{
	color: #fff;
}
.blogpost .content {
    padding: 15px;
    overflow: overlay;
}
.col-sm-4 {
 
    display: inline-block;
	transform
	  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.col-sm-4:hover{
	
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@media (min-width: 992px)
{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}
i.fa.fa-youtube-play
{
    color: #ff0c0c
}

span.logoname
{
	font-size:1.2rem;
	    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: 600;
    padding-top: 5px;
}
img.logo{
		WIDTH: 40PX;
	}
	.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(images/404-error-page-not-found-theevilgeniuxl.jpeg);
    background-size: cover;
	background-position: center;
    margin-bottom: 0;
}
@media (max-width: 992px)
{
		 	 .cpryt {
  
    font-size: 1.2rem;
}
	span.logoname
{
	font-size:1.1rem;

}
			img.logo{
		WIDTH: 32PX;
	}
	.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(images/404-error-page-not-found-theevilgeniuxl.jpeg);
    background-size: cover;
	background-position: center;
    margin-bottom: 0;
}
	.placeBox .content h3
{
	position: relative;
	margin: 0;
	padding: 10px;
	background: rgba(255, 255, 255,255);
	color: #000;
	font-size: 20px;
	font-weight: 450;
	width: 100%;
	text-align: center;

}
.placeBox .imgBx img
{
	object-fit: contain;
	width: 160px;
	height: 130px;
}
	.placeBox .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    background-color: currentColor;
    z-index: -1;
}
.placeBox {
    z-index: 0;
}
	.placeBox .imgBx
{
	width: 100%;
	height: 80%;
}
	.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:visited {
    font-size: 1.5rem;
}

	.navbar-toggler-icon {
    width: 1.2em;
    height: 1.4em;
    }
	.blogpost .content h1 {
    margin: 0;
    padding: 0px 0px 0px;
    font-weight: 600;
    font-size: 1.2rem;
}
	.contentBox p {
    color: #fff;
    font-size: 1.2rem;
    }
	.navbar{
    background: #000 !important;
    transition: 0.5s;
}
	.navbar-light .navbar-toggler 
	{
    background: #fff;
	border-radius: 0;
    }
	.banner
	{
	min-height: 100vh;
	padding: 100px 0 0;

	}
	.contentBox h1,
	.sec2 h2
	{
		font-size: 2rem;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    }
	.sec1
	{
		padding: 20px 0;
	}
	.headerText h2 {
    font-size: 2rem;
	padding-top: 50px;
	margin-bottom: 0px;
    }
	.blog {
    padding: 20px 0;
    }
	.blogpost .imgBx {
    height: 200px;
	}
	.contact {
    padding: 20px 0;
    }
	.contact label {
    font-size: 1rem;
}
    .contact .form-control
        {
	height:40px;
	border: 1px solid #fff;
	font-size: 1rem;
    }
    .btnD1
       {
	padding: 10px 40px;
	margin-top: 10px;
    }
     footer 
	 {
    background: #000;
    padding: 0px 0 20px;
    }
    .sci li 
	{
    list-style: none;
    margin: 0 10px;
    }
    .sci li a 
	{
    color: #777;
    font-size: 1.5em;
    transition: 0.5s;
    }
    .sec2 
	{
    height: auto;
    padding: 40px 0;
    }
	.img-fluid {
    max-width: 70%;
    height: auto;
	
    padding-left: 60px;


VERTICAL-ALIGN: middle;
}
}










@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
{

.h2, h2 {
    font-size: 1.5rem;
}

.h3, h3 {
    font-size: 1.3rem;
}

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}


.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 27% auto;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    mation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #28a745;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: #28a745;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

}
@media (min-width: 321px) and (max-width: 767px)
 {

img.img-modal
{
	width: 96%;
	width: 60%;
}
	 .h2, h2 {
    font-size: 1.5rem;
}
	 .h3, h3 {
    font-size: 1.3rem;
}
  
  :root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}


.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 27% auto;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    mation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #28a745;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: #28a745;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  
}
@media (min-width: 200px) and (max-width: 767px)
 {
	 	 .cpryt {
  
    font-size: 1.1rem;
}
	 .contentBox p {
    color: #fff;
    font-size: 1.1rem;
}
	 	.placeBox .content h3 {
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255,255);
    color: #000;
    font-size: 16px;
    font-weight: 450;
    width: 100%;
    text-align: center;
	
}
.placeBox .content h3 span {
    font-size: 15px;
    font-weight: 600;
}
	 .h2, h2 {
    font-size: 1.5rem;
}
	 .h3, h3 {
    font-size: 1.3rem;
}
  
  :root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}


.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 27% auto;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    mation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #28a745;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: #28a745;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
p {
    font-size: 1.1rem;
	
}
  p.modal-p
  {
	  
	  padding: 0px;
  }
  img.img-modal
{
	
	width: 80%;
}
}
@media (min-width: 576px) and (max-width: 767px)
{
	.img-fluid {
    max-width: 70%;
    height: auto;
    padding-left: 40px;
    VERTICAL-ALIGN: middle;
}

	
}

@media (max-width: 481px)
{
p
{
	color: #fff;
	font-size: 1.1rem;
}
	.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(images/404-error-page-not-found-theevilgeniux480.jpeg);
    background-size: cover;
	background-position: center;
    margin-bottom: 0;
}
.contentBox p {
    color: #fff;
    font-size: 1rem;
}
.cpryt {
  
      FONT-SIZE: 1REM;
}
}